h1 {
  color: purple;
  text-align: center;
  text-shadow: 1px 1px #000000;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

 body {
   background color: lightblue;
 }
img {
  font-size: 300px;
}
